footer {
    /*background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);*/
    /*#051937 #EB1212*/
    background-image: linear-gradient(to right, #051937, #3e205b, #850464, #c5004c, #eb1212);
}

.header nav .logo-platzi img {
    width: 90px;
}

footer a {
    color: #fff;
}

.footer-content div {
    margin-bottom: 12px;
}

.header .navbar-nav .nav-item .text-buy {
    color: #90bf3e;
    font-weight: bold;
}

.header .bg-nav-color {
    background-color: #481c5c;
}

.section-carousel .carousel-item img {
    max-height: 70vh;
    object-fit: cover;
    object-position: 0 50%;
    filter: grayscale(20%);
}

.section-carousel .carousel {
    position: relative;
}

.section-carousel .carousel .overlay {
    position: absolute;
    color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 10;
}

.overlay .container {
    height: 100%;
}

.overlay .container .description-conf {
    height: inherit;
}

.overlay .container .description-conf .btn-platzi {
    background: #97c93e;
    color: #fff;
}

.overlay .container .description-conf .btn-platzi:hover {
    background: #739930;
}

.badges span {
    padding: 6px 8px;
}

.section-place-date .container-place img {
    width: 100%;
    max-width: 100%;
}

main .section-place-date {
    background: #481c5c;
    color: #fff;
}

form .btn-speaker {
    background: #97c93e;
}

.section-forms-speaker .container abbr {
    text-decoration: none;
    color: #97c93e;
}

.tooltip-inner {
    background-color: #54175e;
}